/*This is a CSS file for Part3.html*/
.firstDiv{
	color: red;
}

.secondDiv{
	color: blue;
}

#singledout{
	color: green;
	text-decoration: line-through;
}


h3 + ul{
	border: 4px dotted purple;
}


a{
	color: red;
}


li a{
	color: orange;
}


li a[href="http://google.com"]{
	color: pink;
	border: 5px solid orange;
}