/*This is a CSS file for Part2.html*/

body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS1lRwYKHr17kTVKD-vhNfSq81qhy_xDbyyly3c9zXk3CSvf5i&s);
	background-repeat: no-repeat;
}

div{
	background: blue;
	border-color: orange;
	border-width: 5px;
	border-style: dotted;
} 

p{
	color: yellow;
}

span{
	background-color: red;
	color: black;
}